@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

.tk-theme-button {
  background: inherit;
  color: inherit;
  border: none;
  outline:none;
  cursor: pointer;

  &:hover {
    color: $global-primary-background;
  }
}

.uk-table th {
  color: inherit;
  font-weight: bold;
}

.tk-dark-mode {
  background: #222;

  .tk-input,
  .uk-input,
  .uk-select {
    background: lighten(#2e2c2d, 3);
    color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }

  .uk-card {
    background: #2e2c2d;
    color: #fff;
  }

  h1, h2, h3, h4, h5, h6,
  .uk-card-title {
    color: #fff;
  }

  .uk-list-striped {
    li:nth-of-type(odd) {
      background: lighten(#2e2c2d, 3)
    }
  }

  .uk-alert-primary {
    background: #26303b;
    color: #77bbff;

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }

  .uk-alert-danger {
    background: #49252c;
    color: #fef4f6;

    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
}

.tk-nav-item {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $global-link-color;
      }
    }

    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
}

.tk-social-media {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $global-link-color;
  }
}

.tk-code {
  font-family: Consolas, monospace;
  color: $base-code-color;
}

.tk-pervert {
  display: none;
  visibility: hidden;
}

.tk-input {
  background: #fff;
  color: $global-color;
  border: 1px solid $global-color;
  padding: 2px;
}

.tk-input[type="submit"],
.tk-input[type="button"],
.tk-input[type="reset"] {
  cursor: pointer;
  transition: background, color .2s ease;

  &:hover {
    background: $base-code-color;
    color: #fff;
  }
}

.tk-example-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  td {
    // border: 2px solid #fff;
    padding: 5px 10px;
    width: 25%;
  }

  .tk-input {
    width: 100%;
  }
}

@media (max-width: 959px) {
  .tk-table-responsive-header {
    text-align: center !important;
  }

  .tk-container {
    padding: 0;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
